body>header .masthead {
	display: block;
}
/*body.home>header .masthead {
	background-color: #3C0316;
	background-size: cover;
}
body.home>header .masthead:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	background-color: #D95B61;
	z-index: 0;
}*/

body.tech>section.keynav {
	display: block;
	position: relative;
	width: auto;
	max-width: none;
	margin: -13pt -13pt 0 -13pt;
	margin-bottom: 30px;
}
body.tech>section.keynav:after {
	display: block;
	clear: both;
	height: 0;
	content: '';
	overflow: hidden;
}
body.tech section.keynav a {
	color: #fff;
}
body.tech section.keynav>.inner {
	padding: 26pt 0 13pt 0;
	margin: 0 auto;    
	max-width: 960px;
}
@media screen and (max-width: 1024px) {
	body.tech section.keynav>.inner {
		padding: 26pt 13pt 13pt 13pt;
	}
}
body.tech section.keynav dl.item {
	margin: 0;
	float: left;
	width: 33.333%;
	position: relative;
}
@media screen and (max-width: 767px) {
	body.tech section.keynav dl.item {
		float: none;
		width: inherit;
	}
}
body.tech section.keynav dt {
	margin: 0 0 0.25em 0;
	padding: 0 10px;
	font-size: 20px;
}
body.tech section.keynav dt>a {
	text-decoration: none;
	padding-top: 84px;
	position: relative;
	text-align: center;
	display: block;
}
body.tech section.keynav dt, body.home section.keynav dd {
}
body.tech section.keynav dd {
	margin-left: 0;
	padding: 0 24px;
	font-size: 20px;
}
@media screen and (max-width: 767px) {
	body.tech section.keynav dd {
		padding: 0px;
	}
}
body.tech section.keynav dl:first-child dd{
	padding-left: 0px;
}
body.tech section.keynav dl:last-child dd{
	padding-right: 0px;
}
body.tech section.keynav .icon {
	position: absolute;
	left: 0;
	top: 0;
	width: 76px;
	height: 76px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	text-decoration: none !important;
	right: 0;
  margin: auto;
}
body.tech section.keynav dl#guides .icon {
	background-image: url('246-route@2x.png');
}
body.tech section.keynav dl#api .icon {
	background-image: url('583-broadcast@2x.png');
}
body.tech section.keynav dl#tools .icon {
	background-image: url('519-tools-1@2x.png');
}
body.tech section.keynav dl#code .icon {
	background-image: url('521-dropzone@2x.png');
}
body.tech section.keynav + section {
	border-top: none;
}

dd.desc {
	margin-left: 0;
}
b {
	font-weight: normal;
}
body>footer>p.logos {
	position: relative;
	padding-top: 13pt;
}
body>footer>p.logos>a {
	padding-right: 2em;
}
img {
    border: none;
}

/* Refresh */
/* Promo */
.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 960px;
    padding: 50px 0 ;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
}
@media screen and (max-width: 1024px) {
	.wrapper {
   padding: 25px 13pt;
	}
}
.promo{
	margin: 0 -13pt 0 -13pt;
  width: auto;
  max-width: none;
  position: relative;
  margin-bottom: 0;
  display: block;
  border: 0px;
}
.promo:after {
    content:"";
    display:table;
    clear:both;
  }
 .promo h1 {
margin-top: 0;
  }
.promo p {
	font-size: 24px;
}
.promo ul {
	font-size: 24px;
}
.promo--tech{
  background-image: url(masthead.png);
  background-color: #268bd2;
  background-size: auto;
  color: white;
  position: relative;
}
.promo--tech:before{
  /*content: "";*/
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 0;
}
.promo--tech h3{
  color: white;
  font-weight: normal;
  font-size: 36px;
}
.promo--tech a {
 color: white;
 font-weight: bold;
}
.promo--tech__btn {
  border: 3px solid white;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.promo--tech__btn span{
  color: white;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.promo--tech__btn:hover {
    background-color: white;
}

.promo--tech__btn:hover span{
    color: #268bd2;
}
/* Sections */

.promo--sections{
  padding: 0;
  list-style-type: none;
  margin-bottom: 0;
  background-color: #010C15;
  color: white;
}
.promo--sections .wrapper{
   padding-bottom: 0;
}
.promo--sections__list{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.promo--sections__list__item {
  margin: 0;
  width: 50%;
  box-sizing: border-box;
  padding: 0px;
  float: left;
  background-size: cover;
  background-position: 50% 50%;
  list-style-type: none;
  border-right: 1px solid white;
  overflow: hidden;
}
.promo--sections__list__item--education {
 background-image: url(images/education4.jpg);
}
.promo--sections__list__item--collection {
 background-image: url(images/collection1.jpg);
}
.promo--sections__list__item--developers {
 background-image: url(images/developer2.jpg);
}
.home .promo--sections__list__item, .faq .promo--sections__list__item {
  width: 33.3333%;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
	.promo--sections__list__item, .home .promo--sections__list__item, .faq .promo--sections__list__item {
	  width: 100%;
  	border-right: 0px solid white;
  	border-bottom: 1px solid white;
	}
}
.promo--sections__list__item:last-child{
  border-right: 0px solid black;
}

.promo--sections__list a{
  display: block;
  font-size: 26px;
  font-weight: normal;
  text-align: center;
  overflow: hidden;
  display: table;
  color: white;
  position: relative;
  height: 300px;
  width: 101%;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
	.promo--sections__list a{
	  height: 200px;
	}
}

.promo--sections__link__inner{
	display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  z-index: 11;
  padding: 0 15px;
  box-sizing: border-box;
}
.promo--sections__list__item h4{
/* position: absolute;
 bottom: 20px;
 left: 20px;*/
 color: white;
 font-size: 36px;
 font-weight: normal;
 margin: 0;
}
.promo--sections__list__item p{
 max-width: 300px;
 margin: auto;
}
.promo--sections__list__item a:before{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 0;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.promo--sections__list__item a:hover:before{
  background-color: rgba(0,0,0,0.2);
}
/*Promo into*/
.promo-intro{
	padding: 0px 0;
}
.promo-intro h1 {
  font-size: 2em;
}
@media screen and (min-width: 768px) {
	.promo-intro h1 {
  	font-size: 3em;
  }
}
.promo-intro p {
  font-size: 1.4em;
}

.promo--education{
  background-image: url(/res/images/developer3.jpg);
  background-color: #01172a;
  background-size: cover;
  color: white;
  position: relative;
  background-position: 50% 50%;
}
.promo--education:before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: 0;
}

/*Masthead*/
.masthead{
	background-color: #000;
}
.masthead:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	background-size: cover;
	background-position: 50% 25%;
	background-repeat: no-repeat;
	opacity: 0.5;
}
/*.home .masthead, .education .masthead, .collection .masthead, .developers .masthead, .faq .masthead {
   background-size: cover;
   background-position: 50% 25%;
}*/

.home .masthead:before {
   background-image: url('images/banner1.png');
   background-position: 50% 60%;
	opacity: 1;
}
.education .masthead:before {
   background-image: url('images/education4.jpg');
	opacity: 1;
}
.collection .masthead:before {
   background-image: url('images/collection1.jpg');
   background-position: 50% 0%;
	opacity: 1;
}
.developers .masthead:before {
   background-image: url('images/developer2.jpg');
	opacity: 1;
}
.faq .masthead:before {
   background-image: url('images/education5.jpg');
   background-position: 50% 40%;
	opacity: 1;
}
.tech .masthead {
	background-color: #268bd2;
}
.tech .masthead:before {
  background-image: url('/res/masthead.png') !important;
  background-size: auto 100%;
  background-position: 50% 50%;
}
.tech-tools .masthead{
	 background-color: #ec7139;
}
.tech-tools .masthead:before {
  background-image: url('/res/images/masthead-tools.png') !important;
  background-size: auto 100%;
  background-position: 50% 50%;
}
.tech-guides .masthead{
  background-color: #d33682;
}
.tech-guides .masthead:before {
  background-image: url('/res/images/masthead-guides.png') !important;
  background-size: auto 100%;
  background-position: 50% 50%;
}
.tech-code .masthead{
  background-color: #b58900;
}
.tech-code .masthead:before {
  background-image: url('/res/images/masthead-code.png') !important;
  background-size: auto 100%;
  background-position: 50% 50%;
}
.promo--collection__list{
	list-style-type: none;
	margin: 0 0 50px 0;
	padding: 0;
	text-indent: -999999px;
	overflow: hidden;
}
.promo--collection__list__item {
	width: 11.111%;
	float: left;
	padding: 0 10px;
	box-sizing: border-box;
}
.promo--collection__list__item a{
	display: block;
	display: flex;
	height: 50px;
/*	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;*/
	margin: 25px auto;
	max-width: 200px;
  opacity: 0.7;
	-webkit-filter: grayscale(1);
   filter: grayscale(1);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.promo--collection__list__item a:hover{
	-webkit-filter: grayscale(0);
   filter: grayscale(0);
   opacity: 1;
}
.promo--collection__list__item img {
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
  display: block;
  margin: auto;
}

@media screen and (max-width: 960px) {
	.promo--collection__list__item {
		width: 100%;
		float: none;
	}
}

/*.promo--collection__list__item--the-national-archives a {
	background-image: url(/res/images/logos/the-national-archives.png);
}
.promo--collection__list__item--wellcome-trust a {
	background-image: url(/res/images/logos/wellcome-trust.png);
}
.promo--collection__list__item--british-museum a {
	background-image: url(/res/images/logos/british-museum.png);
}
.promo--collection__list__item--bbc-shakespeare-archive-resource a {
	background-image: url(/res/images/logos/bbc-shakespeare-archive-resource.jpg);
}
.promo--collection__list__item--british-library a {
	background-image: url(/res/images/logos/british-library.png);
}
.promo--collection__list__item--peoples-collection-wales a {
	background-image: url(/res/images/logos/peoples-collection-wales.png);
}
.promo--collection__list__item--wikidata a {
	background-image: url(/res/images/logos/wikidata.png);
}
.promo--collection__list__item--europeana a {
	background-image: url(/res/images/logos/europeana.png);
}
.promo--collection__list__item--natural-history-museum a {
	background-image: url(/res/images/logos/natural-history-museum.png);
}*/
.promo--powered{
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.promo--powered__img{
	margin: auto;
	display: block;
	width: 100%;
	max-width: 300px;
}
.promo--collaboration__list{
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 20px;

}
.promo--collaboration__list:after {
  content:"";
  display:table;
  clear:both;
 }
.promo--collaboration__list__item{
	width: 33.333%;
	float: left;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
	.promo--collaboration__list__item{
		width: 100%;
		float: none;
	  padding: 0;
	}
}
.promo--collaboration__list__item span{
	display: block;
	vertical-align: middle;
	padding: 20px 0;
}
@media screen and (min-width: 768px) {
	.promo--collaboration__list__item span{
		display: table-cell;
		height: 200px;
	}
}
.promo--collaboration__list__item img{
	width: 100%;
	max-width: 300px;
	display: block;
	margin: auto;
}
/*.promo--collaboration__list__item:before{
	content: "";
	display: block;
	width: 200px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: auto;
  background-position: 50% 100%;
  margin-bottom: 20px;
}*/
/*.promo--collaboration__list__item--touchpress:before{
	background-image: url(/res/images/logos/touchpress.png);
}
.promo--collaboration__list__item--amplify:before{
	background-image: url(/res/images/logos/amplify.png);
}
.promo--collaboration__list__item--gooii:before{
	background-image: url(/res/images/logos/gooii.png);
}*/
/*a:link, a:visited {
  color: #0C6BC1;
  text-decoration: none;
}
a:hover, a:active {
  color: #0055A2;
}*/
.figure--full{
  max-width: 100%;
  float: none;
  display: block;
  margin: 0;
  border-width: 0;
}
.figure--full figcaption{
  display: block;
  border-radius: 0;
  background-color: transparent;
  text-align: left;
  max-width: 960px;
  margin: auto;
  padding: 10px 13pt;
}
@media screen and (min-width: 1025px) {
  .figure--full figcaption{
    padding: 10px 0;
  } 
}
.img--full{
	width: 100%;
}

.img--half{
	width: 26%;
	display: inline;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}
iframe {
	border: none transparent 0;
}
